body{
	background-color: var(--bg_light_primary);
}
/* CSS Document */
.form-line-Item{
	margin-bottom:25px;
}
.form-container .form-select{
	padding-top:.375rem !important;
}
.form-container .btn{
    padding: 0.72rem 1rem !important;
}
.childselectAll{
	position: absolute;
	right: 0;
	text-align: end;
	display: inline-block;
}
.toast,
.toast-box,
.toast-header {
	background-color: var(--toast_BgColor);
}

.toast-box {
	display: block !important;
}
.toast-body {
	padding-left: 0px;
}


.tile-Radius {
	border-radius: 8px !important;
}
.accordion-buttonRemove::after {
    content: none; /* Remove the content */
    /* Add other desired styles or adjust properties as needed */
}
.selectAll-header{
	color: var(--selectAll_HeaderTextColor);
    background-color: var(--selectAll_HeaderBgColor);
	box-shadow: none;
}
.addRoleAccordian .accordion-body .accordianItemList label,
.addRoleAccordian .accordion-header .accordianListName label{
	/* word-break: break-all; */
	white-space: wrap;
}
.addRoleAccordian .accordianItemList{
	margin-right: 15px;
}
/* .addRoleAccordian .accordion-body .accordianItemList{
	margin-right: 10px;
}
.addRoleAccordian .accordion-body .accordianItemList:nth-child(5){
	margin-right: 0px;
} */
.addRoleChecked .accordianItemList{
	/* border: 1px solid #dfdfdf;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
	align-items: start;
	height: 100%; */
	/* border: 1px solid #dfdfdf; */
	align-items: center;
    display: inline-flex;
    /* margin: 8px 10px 8px 0; */
	padding: 8px 16px;
	margin-bottom: 15px;
	border: 1px solid var(--htmlClass_BorderColor);
	border-radius: 30px;
	font-size: 14px;
}
.accordianItemList label, .accordianListInnerName label{
	line-height: 16px !important;
}
.accordianListInnerName {
    align-items: center;
    display: inline-flex;
	padding: 8px 16px;
    border: 1px solid var(--light_grey_border);
    border-radius: 30px;
    font-size: 14px;
	margin: 5px 0;
}
.accordianParent .accordianListName,
.addRoleChecked .accordianParent{
	position: relative;
}
.addRoleAccordian .accordianParent{
	padding: 8px 20px;
}
.addRoleChecked .accordianParent {
	padding-left: 0;
	margin-right: 0;
	border: 0;
}
.toast-body .addRoleChecked {
	padding: 0 20px;
    border-bottom: 1px dashed var(--light_grey_border);
    margin-bottom: 12px;
}
.toast-body .addRoleChecked:last-child {
	border-bottom: 0;
	margin-bottom: 0;
}

@media (min-width: 992px){
	.col-lg-3.toast {
		width: 24% !important;
	}
	.accordianParent .accordianListName::after {
		content: '';
		/* border-right: 1px solid var(--card_sub_title_color); */
		position: absolute;
		right: 0;
		height: 32px;
		top: -6px;
	}
	.addRoleChecked .accordianParent::after {
		content: '';
		/* border-right: 1px solid var(--card_sub_title_color); */
		position: absolute;
		right: -9px;
		height: 32px;
		top: 0;
	}
}
@media (max-width:1600px){
	.form-line-Item textarea.form-control{
		height: 50px !important;
	}
}
@media (max-width:999px){
	.form-line-Item{
		margin-top: 0px;
		margin-bottom: 15px;
	}
	.addRoleAccordian .accordianParent .accordianListName{
		margin-top: 15px;
	}
	.addRoleAccordian .accordion-header .accordianListName,
	.addRoleAccordian .accordion-header .accordianListInnerName{
		margin-bottom: 16px;
		display: flex;
	}
	.addRoleAccordian .accordion-header .accordion-button{
		padding-bottom: 0;
	}
	.accordianParent .mobile-col{
		display: flex;
		flex-wrap: wrap;
	}
	.addRoleAccordian .accordianParent {
		display: block;
	}
	.addRoleAccordian .accordianParent {
		padding: 8px 16px;
	}
	.addRoleChecked .accordianParent{
		padding-left: 0;
	}
	.addRoleAccordian .accordion-header .accordianListName label{
		white-space: nowrap;
	}
	.accordion-button::after{
		margin-bottom: 12px;
	}
}
.notesinfo{
    display: flex;
  }
  .notesinfo p{
    font-size: 12px;
    color: var(--small_tag_text_color);
  }
  .tabs-container{
	position: relative;
	height: 50px;
	padding: 0 2em;
	overflow: hidden;
	display: flex;
	align-items: center;
	margin: 15px 0;
	justify-content: center;
  }
  
  .tabs {
	height: 30px;
	display: flex;
	align-items: center;
	flex-wrap: no-wrap;
	transform: translateX(0px);
	transition: transform 300ms ease-in-out;
	margin: 0;
	font-size: 14px !important;
  }
  
  .tab {
    padding-bottom: 1em;
    margin: 0px 8px;
    flex-shrink: 0;
    text-align: center;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    background-color: var(--btn-light);
    padding: 10px 15px;
    border-radius: 0.375rem;
	align-items: center;
  }
  .tab { 
    padding: 8px 15px 6px 15px !important;
}
  .tab.active{ 
	transition: all 300ms linear;
	background-color: var(--btn-primary);
    color: var(--text-white);
  }
  /* .tab.active::before{
	content: "";
    visibility: visible;
    font-family: 'FontAwesome';
    background-image: url(/assets/images/tick-white.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
  } */
  .change-btn {
	height: 50px;
	width: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--changeBtn_borderColor);
	border-radius: 4px;
	position: absolute;
	top: 0;
	z-index: 1;
	background: var(--background-white);
	cursor: pointer;
  }
  
  .change-btn.hide {
	cursor: not-allowed;
	pointer-events: none;
	color: var(--changeBtnHide_textColor);
	background-color: var(--btn-light);
  }
  
  .change-btn.prev {
	left: 0;
  }
  
  .change-btn.next{
	right: 0;
  }
  .change-btn img{
	height: 25px;
  }
  #tabScroll{
	overflow: hidden;
	overflow-wrap: anywhere;
	min-height: 45px;
}
.accordion-button::after {
    position: absolute;
    right: 20px;
}
.role-desc{
	max-height: 80px !important;
	height: 100% !important;
}

@media (max-width:999px) {
	#tabScroll{
		overflow-x: auto;
		scrollbar-width: none;
	}
}