/* .react-widget-container {
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 10;
} */

.fullscreen-widget {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  /* Optional: background color */
  z-index: 9999;
  padding: 1rem;
  overflow: auto;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  gap: 16px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.workflow-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}


.fullscreen-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  color: #666;
  transition: color 0.3s ease;
}

.fullscreen-button:hover {
  color: #333;
}

.fullscreen-button i {
  font-size: 20px;
}

.fullscreen-button[_ngcontent-serverApp-c164] {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  color: #666;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0 5px;
}

.workflow-input-labels {
  margin-top: 3px !important;
}

.widget-wrapper {
  position: relative;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.widget-container {
  width: 100%;
  height: 600px;
  /* Default height */
  background: #f9f9f9;
}

/* Fullscreen styles */
:fullscreen .widget-container,
:-webkit-full-screen .widget-container {
  width: 100vw !important;
  height: 100vh !important;
}

/* Expand button styling */
.expand-button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.expand-button i {
  margin-right: 5px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: white;
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.workflow-completed {
  background-color: #1EE373 !important;
  /* color: white !important; */
}

/* .workflow-completed .doc-item-link .item-name {
  color: #fff !important;
} */
@media (max-width: 1024px) {
  .project-info .project-info-label{
    margin-top: 5px !important;
  }
  .workflow-input-labels{
    margin-top: 5px !important;
  }
}
@media (max-width: 768px) {
  .fullscreen-button {
    top: 130px !important;
  }

}