.sub-btn{
    background-color: var(--btn-primary) !important;
    border: var(--btn-primary) !important;
    max-width: 120px;
}
.form-container .form-select{
	padding-top:.375rem !important;
}
.solrError{
    position: relative;
    left: 53%;
}
.btnWithText{
    margin: 21px 0 0 0;
}
.dateWithsearch .card .form-control{
    padding: 0.375rem 0 0.375rem 1rem !important;
}
.dateWithsearch .input-group input{
    border-radius:0.375rem !important ;
}
.dateWithsearch .input-group input{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.input-group ng-select{
    width: 100% !important;
}
.input-group-text {
    background-color: var(--btn-bs-darkprimary);
    border: 0;
}
.mob_align_center_desktop_start{
    align-items: flex-start;
}
.tooltip-float{
    float: right;
}
.tp-new{
    top:-3px !important;
}
@media (min-width: 1024px) and (max-width: 1254px){
    /* .addProductCard .form-control, .input-group p, .form-container .form-label{
        font-size: 0.775rem !important;
    } */
    .dateWidthresponsive{
        width: 21%;
    }
    .btnWithText{
        gap:10px;
    }
}

@media (min-width: 1440px){
    .form-line-Item .form-control, .form-line-Item .form-select{
        font-size: 14px !important;
    }
}
@media (max-width: 1440px){
    .action-btn{
        /* height: auto !important; */
        font-size: var(--font-size-14) !important;
    }
    .dateWithsearch .form-select{
        font-size: var(--font-size-14) !important;  
    }
    .basic-addon-1{
        height: 34px;
    }
}
@media (max-width:999px){
    .dateWithsearch .input-group{
        margin-bottom: 0;
    }
    .btnWithText{
        margin: 0 0 0 0;
    }
    .basic-addon-1{
        height: 40px;
    }
}

@media (max-width:820px){
    .mob_adjust_margins{
        margin: 15px 0 10px 0 !important;
    }
    .mob_align_center_desktop_start{
        align-items: center !important;
    }
    .btnWithText{
        margin-top: 2px !important;
    }
    .mob_margin_top{
        margin-top: 13px !important;
    }
    .mob_mb_remove{
        margin-bottom: 0 !important;
    }
}
